header, div, section, article, nav, footer{
  width:100%;
  border: black 1px solid;
  text-align: center;
}
header {
  height:75px;
  line-height:75px;
}

div{
  height:150px;
  line-height:150px;
}

article {
  height:125px;
  line-height:125px;
  
}

section {
  height:250px;
  line-height:250px;
  width:50%;
  float:left;
  
}
nav{
  height:250px;
  line-height:250px;
  width:50%;
  float:left;
  
}

footer{
  height:80px;
  clear:both;
  line-height: 80px;
  
}


@media (min-width: 768px){
  body{
    max-width:960px;
  }
  header, div, section, article, nav, footer{
    max-width:960px;
    margin: 0 auto;
    border: black 1px solid;
    text-align: center;
  }
  header{
    height:100px;
    line-height:100px;
  
  }
  
  div {
    height:600px;
    line-height:600px;
    width:200px;
    float:left;
   
  }
  
  article {
    height:200px;
    line-height:200px;
    width:380px;
    float:left;
  
  }
  
  section {
    height:250px;
    line-height:250px;
    width:190px;
    float:left;
   
  }

  nav {
    height:250px;
    line-height:250px;
    width:190px;
    float:left;
    
  }
  
  footer{
   height:150px;
   width:760px;
   clear:none;
   line-height: 150px;
   
  }
}